autopep8==2.3.1
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-WTF==1.2.1
importlib-metadata==8.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pycodestyle==2.12.1
PyMySQL==1.1.1
tomli==2.0.1
Werkzeug==3.0.3
WTForms==3.1.2
zipp==3.19.2
pytest==8.3.1
bcrypt==4.2.0
gunicorn==23.0.0
eventlet==0.36.1
cryptography
