* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("background.webp") center center no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  /* background: #5cc2d470; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  color: #fff;
  font-size: 2em;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.wrapper {
  /* height: 100%; */
  background-attachment: fixed;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  /* filter: blur(15px); */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  transform: scale(0);
  transition:
    transform 0.5s ease,
    height 0.2s ease-in-out;
  -webkit-transition:
    transform 0.5s ease,
    height 0.2s ease-in-out;
  align-items: center;
  overflow: hidden;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
  animation: show 1s forwards;
  -webkit-animation: show 1s forwards;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.2s ease-in-out;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: transform 0.2s ease-in-out;
  transform: translateX(-600px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: transform 0.2s ease-in-out;
  transform: translateX(600px);
}

.wrapper.active .form-box.register {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

/* .wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #5cc2d4;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
} */

.form-box h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d4d4d4;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffffff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #ffffff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #ffffff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #ffffff;
  text-decoration: none;
}

/* .remember-forgot a:hover {
  text-decoration: underline;
} */

.btn input {
  width: 100%;
  height: 45px;
  background: #ff6608d5;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.error {
  color: rgb(248, 158, 158);
  font-size: 0.9em;
}

@media screen and (max-width: 992px) {
  .navigation a {
    position: relative;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 450;
    margin: 15px;
    transition: 0.5s;
  }

  .logo {
    color: #fff;
    font-size: 4em;
    user-select: none;
    margin: 5px;
    transition: 0.5s;
  }

  .wrapper {
    position: relative;
    width: 450px;
    height: 490px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    /* filter: blur(25px); */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition:
      transform 0.5s ease,
      height 0.2s ease-in-out;
  }

  .wrapper.active {
    height: 510px;
    animation: show 1s forwards;
  }
}
